diffusers==0.10.2
transformers==4.25.1
huggingface_hub==0.11.1
numpy>=1.26.0
torch
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision
accelerate==0.15.0
streamlit==1.28.0
Pillow==10.1.0