@"
diffusers==0.21.4
huggingface_hub==0.15.1
numpy<2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
transformers==4.34.0
accelerate==0.24.1
streamlit==1.28.0
Pillow==10.1.0
"@ | Set-Content -Path requirements.txt -NoNewline -Encoding ASCII